@keyframes select {

  0.1%,
  95% {
    background-color: var(--surface-1);
  }

  0%,
  95.1%,
  100% {
    background-color: var(--surface-2);
  }
}

@scope (tab-list) {
  :scope {
    position: relative;
    --panel-padding: var(--size-3);
    max-inline-size: max-content;
    border: var(--border);
    border-radius: var(--radius-3);
    overflow: clip;
  }

  nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    position: sticky;
    justify-content: start;
    top: -1px;
    background-color: var(--surface-2);
    align-items: center;
  }

  a {
    --tab-padding: var(--size-2);
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-block: var(--tab-padding);
    padding-inline: var(--panel-padding);
    outline-offset: calc(var(--tab-padding) * -1);
    position: relative;
    color: inherit;
    text-decoration: none;
    font-weight: var(--font-weight-8);
    margin: 0;
    animation: select both;
    animation-range-start: exit -12rem;

    &:not(:first-child) {
      border-inline-start: 1px var(--surface-1) solid;
    }
  }

  a>svg {
    max-height: 1em;
    aspect-ratio: 1/1;
  }

  section {
    padding: var(--panel-padding);
    scroll-margin: calc(var(--panel-padding) * 2);
    outline-offset: calc(var(--panel-padding) * -1);
  }

  [role="tab"] {
    animation: none;
  }

  [role="tab"][aria-selected="true"] {
    background-color: var(--surface-1);
  }
}