@import "open-props/normalize.min.css";
@import "open-props/buttons.min.css";
@view-transition {
  navigation: auto;
}
body {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: var(--size-5);
  --body-padding-inline: clamp(var(--size-2), 5vw, var(--size-15));
}

main {
  --border: solid var(--surface-2) var(--border-size-2);
  display: grid;
  gap: var(--size-4);
  grid-auto-rows: max-content;
  min-inline-size: 50vw;
  padding-inline-end: var(--body-padding-inline);
  flex: 1;

  > :first-child {
    margin-block-start: var(--size-5);
  }
}

.the-footer {
  grid-row: 2 / 2;
  grid-column: 2 / 2;
}

[aria-current="page"] {
  color: var(--link-visited);
}

table {
  min-inline-size: min(100%, var(--size-content-3));
}

header {
  border-inline-end: 1px var(--surface-2) solid;
  grid-row: 1 / -1;

  button {
    font-size: 0.625rem;
    visibility: hidden;
    opacity: 0;
    border: none;
    text-shadow: none;
    box-shadow: none;
    background: none;
    grid-column: -1 / -1;
  }

  :not(.backdrop) {
    /* z-index: 2; */
  }
}

nav {
  display: flex;
  flex-direction: row-reverse;
  background: none;
}

nav a {
  color: var(--text-2);
}

nav ul {
  list-style: none;
  display: grid;
  gap: var(--size-2);
  padding-inline-start: var(--body-padding-inline);
  padding-inline-end: var(--size-4);
  padding-block: var(--size-5);
  align-content: baseline;
}

.backdrop {
  display: none;
  position: absolute;
  inset: 0;
  height: 200%;
  backdrop-filter: blur(8px);
  mask-image: linear-gradient(to bottom, black 0% 50%, transparent 50% 100%);
  pointer-events: none;
}

@media screen and (width <=50rem) {
  main,
  .the-footer {
    padding-inline-start: 3.375em;
  }

  .the-footer {
    grid-column: 1 / 1;
  }

  .backdrop {
    display: block;
  }

  header {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    &:not(:has(:popover-open)) button {
      opacity: 100%;
      transition: opacity 200ms 200ms;
    }

    nav {
      transition: 
        translate ease 200ms,
        display 200ms allow-discrete;
      translate: 0% 0%;
      background: color-mix(in srgb, var(--surface-1), transparent 25%);
      overflow-y: clip;
      border-inline-end: 1px var(--surface-2) solid;
      @starting-style {
        translate: -100% 0%;
      }
    }

    ul {
      overflow-y: auto;
      height: 100dvh;
      z-index: 1;
      padding-inline-end: 3rem;
      gap: var(--size-5);
    }

    button {
      visibility: visible;
    }
  }

  body:has(#navlist:not(:popover-open):not(:focus-within), main:focus-within)
    #navlist {
    translate: -100% 0%;
    display: none;
  }
}
